<html>
    <head>
        <title>Anna's Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Anna's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Naje-neun ttasaroun inkanjeo-gin yeoja. Keopi hanjanye yeoyureuraneun pumkyeok i-nneun yeoja. Bami omyeon shimjangi tteugeowojineun yeoja. Keureon banjeon i-nneun yeoja</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Oppan gang-namseutayil</p>
        </div>
    </body>
</html>